[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "DENY"
    X-XSS-Protection = "1; mode=block"
    X-Content-Type-Options = "\"nosniff\" always"
    Content-Security-Policy = "script-src 'self' 'unsafe-inline' 'unsafe-eval' blob:"
    Referrer-Policy = "no-referrer"
